<h1>Hello World!!!!</h1>
<p><h3>This website shows details about a place called Edathinakathupady, Kottayam, Kerala.

It display the information about the place briefly, taxis available, shops etc. in that location</h3></p>
