<h1>Edit Taxi Details</h1>
<br/>
<%= render 'form', add_taxi: @add_taxi %>
<br/>
<%= link_to 'Show', @add_taxi, class:"btn btn-success"  %> 
<%= link_to 'Back', add_taxis_path, class:"btn btn-success" %>
